html,
body
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    line-height: 22px;

    color: #fff;
    background: #849d8f;
}

h1
{
    font-size: 35px;
}

h2
{
    font-size: 60px;
}

h3
{
    font-size: 35px;
}

h4
{
    font-size: 24px;
}

h5
{
    font-size: 16px;
}

.button
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: none;
    background: #f26843;
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
}

.button:hover,
.slide-btn:hover
{
    background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
    background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active,
.slide-btn:active
{
    background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
    background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
    box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-radio-covert
{
    display: none;
}

.site-wrapper
{
    min-width: 900px;

    -webkit-transition: background-image .5s ease, background-color .5s ease;
            transition: background-image .5s ease, background-color .5s ease;

    background: #849d8f url('../img/slide-1.png') no-repeat top center;
}

.container
{
    position: relative;

    width: 860px;
    margin: 0 auto;
    padding: 0 20px;
}

.main-header
{
    height: 96px;

    color: #fff;
    background: #849d8fl;
}

.header-logo
{
    float: left;

    width: 153px;
    height: 63px;
    margin: 10px 16px 0 -5px;

    text-decoration: none;
}

.header-nav
{
    float: left;

    max-width: 400px;
    margin-top: 23px;
}

.header-nav-list
{
    font-size: 0;

    margin: 0;
    padding: 0;

    list-style: none;
}

.nav-list-item
{
    font-size: 16px;

    display: inline-block;

    padding-bottom: 5px;

    vertical-align: top;

    border-radius: 13px;
}

.nav-list-item > a
{
    font-weight: 700;
    line-height: 32px;

    display: block;

    height: 32px;
    padding: 0 14px;

    text-decoration: none;

    color: #fff;
    border-radius: 13px;
}

.nav-list-item	span
{
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .5);
}

.nav-list-link:hover > span,
.nav-list-link:active > span
{
    box-shadow: none;
}

.nav-list-item > a:hover
{
    text-decoration: none;

    color: #333;
    background: #f7f6f3;
}

.nav-list-item > a:active
{
    background: #ededed;
    box-shadow: inset 0 1px 2px 1px #6c6d6c;
}

.nav-list-item-current > a
{
    text-decoration: none;

    color: #fff;
    background: #d07058;
}

.nav-list-item-current span
{
    box-shadow: none;
}

.nav-list-inner
{
    font-size: 14px;

    position: absolute;
    z-index: 25;
    top: 37px;
    left: -7px;

    display: none;

    width: 145px;
    margin: 0;
    padding: 0;

    list-style: none;

    border-radius: 3px;
    background: #f8f7f4;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .2);
}

.nav-list-inner	 a
{
    display: block;

    padding: 5px 21px;

    text-decoration: none;

    color: #343434;
}

.nav-list-inner	 a:hover
{
    background: #fbded8;
}

.nav-list-inner	 a:active
{
    background: #f6b5a5;
}

.nav-list-inner .nav-list-inner-current
{
    color: white;
    background: #d07058;
}

.nav-list-inner .nav-list-inner-current:hover
{
    color: #343434;
    background: #fbded8;
}

.nav-list-inner .nav-list-new
{
    font-weight: 700;

    position: relative;

    padding-top: 8px;
    padding-bottom: 10px;
}

.nav-list-inner .nav-list-new::after
{
    position: absolute;
    z-index: 1;
    right: 6px;
    bottom: 0;
    left: 6px;

    height: 1px;

    content: '';

    background: #d1d0ce;
}

.nav-list-item-covert
{
    position: relative;
}

.nav-list-item-covert:hover .nav-list-inner
{
    display: block;
}

.user-block
{
    font-size: 0;

    float: right;

    max-width: 262px;
    margin-top: 23px;
}

.form-search
{
    font-size: 14px;
    font-weight: 400;

    position: relative;

    display: inline-block;

    height: 36px;
    margin-right: 10px;

    vertical-align: top;
}

.form-search-btn
{
    font-size: 0;

    width: 33px;
    height: 33px;

    border: none;
    border-radius: 100%;
    background: rgba(255, 255, 255, .2) url('../img/loupe.svg') no-repeat 50% 50%;
}

.form-search-covert
{
    position: absolute;
    z-index: 25;
    top: 36px;
    right: 0;

    display: none;

    color: #353535;
    border-radius: 3px;
    background: #f8f7f4;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .2);
}

.form-search:hover	.form-search-btn
{
    background: #f8f7f4 url('../img/loupe-hover.svg') no-repeat 50%;
}

.form-search:hover .form-search-covert
{
    z-index: 25;

    display: block;
}

.form-search-input
{
    font-weight: 700;

    box-sizing: border-box;
    width: 309px;
    height: 37px;
    margin: 15px 15px;
    padding: 0 11px;

    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.form-search-input::-webkit-input-placeholder
{
    font-weight: 400;
}

.form-search-input:hover
{
    padding: 0 10px;

    border: 2px solid #d3d3d2;
}

.form-search-input:active
{
    padding: 0 10px;

    border: 2px solid #d3d3d2;
    outline: 0;
}

.form-enter
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    height: 36px;

    vertical-align: top;

    color: #353535;
}

.form-enter-link
{
    font-weight: 500;
    line-height: 32px;

    display: inline-block;

    height: 32px;
    padding: 0 15px 0 43px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border: none;
    border-radius: 15px;
    background: rgba(255, 255, 255, .2) url('../img/enter.svg') no-repeat 23% 50%;
}

.form-enter:hover .form-enter-link
{
    color: #323232;
    border-radius: 15px;
    background: #f8f7f4 url('../img/enter-hover.svg') no-repeat 23% 50%;
}

.form-enter-covert
{
    position: absolute;
    top: 36px;
    right: -3px;

    display: none;

    width: 243px;
    height: 140px;
    padding: 20px 15px 15px 15px;

    border-radius: 3px;
    background: #f8f7f4;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .2);
}

.form-enter-input
{
    font-weight: 700;

    box-sizing: border-box;
    width: 240px;
    height: 37px;
    margin-bottom: 10px;
    padding: 0 15px;

    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.form-enter-input::-webkit-input-placeholder
{
    font-weight: 400;
}

.form-enter-input:hover
{
    padding: 0 14px;

    border: 2px solid #d3d3d2;
}

.form-enter-input:active
{
    padding: 0 14px;

    border: 2px solid #d3d3d2;
    outline: 0;
}

.form-enter-button
{
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;

    height: 35px;
    margin-top: 5px;
    padding: 0 32px;

    border-radius: 15px;
}

.form-enter-covert-links
{
    font-size: 13px;

    float: right;

    width: 122px;
    margin-top: 2px;
}

.form-enter-covert-links > a
{
    color: #333;
}

.form-enter-covert-links > a:hover
{
    color: #ec593c;
}

.form-enter-covert-links > a:active
{
    color: #ec593c;
}


.form-enter:hover .form-enter-covert
{
    z-index: 25;

    display: block;
}

.basket
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    height: 36px;
    margin-left: 10px;

    vertical-align: top;
}

.basket-link
{
    font-weight: 500;
    line-height: 32px;

    display: none;

    height: 32px;
    padding: 0 34px 0 45px;

    text-decoration: none;

    color: #fff;
    border-radius: 15px;
    background: rgba(255, 255, 255, .2) url('../img/basket.svg') no-repeat 18% 50%;
}

.basket-link-full
{
    line-height: 32px;

    display: block;

    height: 32px;
    padding: 0 15px 0 45px;

    text-decoration: none;

    color: #fff;
    border-radius: 15px;
    background: rgba(255, 255, 255, .2) url('../img/basket.svg') no-repeat 18% 50%;
}

.basket-link-full-index
{
    display: none;
}

.basket-link-index
{
    display: block;
}

.basket:hover .basket-link
{
    color: #323232;
    border-radius: 15px;
    background: #f8f7f4 url('../img/basket-hover.svg') no-repeat 18% 50%;
}

.basket:hover .basket-link-full
{
    color: #323232;
    border-radius: 15px;
    background: url('../img/basket-hover.svg') no-repeat 18% 50%,
    #f8f7f4 url('../img/items-in-basket.svg') no-repeat 21% 46%;
}

.basket-table-container
{
    display: none;

    padding: 34px 16px 18px 16px;

    border-radius: 3px;
    box-shadow: 0 15px 15px 5px rgba(0, 0, 0, .2);
}

.basket-table
{
    line-height: 17px;

    width: 508px;

    color: #333;
}

.basket-table-item td
{
    height: 53px;

    text-align: center;
    vertical-align: top;
}

.table-cell-close
{
    width: 18px;
}

.basket-table-button
{
    width: 11px;
    height: 11px;

    border: none;
    background: url('../img/cross.svg') no-repeat center;
}

.basket-table-total
{
    border-top: 1px solid #cacac7;
}

.table-cell-ice
{
    width: 58px;
}

.basket-table-img
{
    margin-top: -7px;
}

.basket-table-item .table-cell-caption
{
    text-align: left;
}

.table-cell-caption
{
    font-size: 13px;

    width: 240px;
}

.table-cell-weight
{
    font-weight: 400;

    width: 155px;
}

.basket-table-item .table-cell-cost
{
    font-size: 13;
    font-weight: 400;

    width: 66px;

    text-align: left;
}
.basket-table-price
{
    color: #808080;
}

.basket-table-total,
.basket-table-order
{
    margin-right: 10px;

    text-align: right;
}

.basket-table-total
{
    height: 40px;
}

.basket-table-order
{
    height: 42px;
}

.basket-table-total-cost
{
    font-size: 15px;
    font-weight: bold;

    margin-right: 12px;
}

.basket-table-link-order
{
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;

    height: 35px;
    margin-right: -4px;
    padding: 0 22px;

    border-radius: 14px;
}

.basket:hover .basket-table-container
{
    position: absolute;
    z-index: 25;
    top: 36px;
    right: 0;

    display: block;

    background: #f8f7f4;
}

.header-contacts
{
    position: absolute;
    top: 72px;
    right: 20px;

    float: right;

    text-align: right;
}

.header-contacts-time
{
    font-size: 14px;
    font-weight: 700;

    margin-top: -2px;
}

.header-contacts-phone
{
    font-size: 22px;
    font-weight: 900;

    margin-top: 2px;
}

.slider
{
    position: relative;

    margin-bottom: 40px;
    padding-top: 295px;

    text-align: center;

    color: #fff;
}

.slide
{
    display: none;
}

.slide-title
{
    font-size: 60px;
    font-weight: 900;
    line-height: 60px;

    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.slider-controls
{
    font-size: 0;

    position: absolute;
    z-index: 20;
    bottom: 21px;
    left: 0;
}

.slider-controls label
{
    display: inline-block;

    width: 17px;
    height: 17px;
    margin-right: 8px;

    cursor: pointer;
    vertical-align: top;

    border: 2px solid #fff;
    border-radius: 50%;
    background-color: transparent;
}

.slider-controls label:hover
{
    background: rgba(255, 255, 255, .5);
}

.slider-controls label:active
{
    background: #fff;
}

.slide-btn
{
    font-size: 31px;
    font-weight: 700;
    line-height: 41px;

    display: inline-block;

    padding: 12px 50px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 100px;
    background: #f26843;
    background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
    background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
    box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

#btn-1:checked ~ .site-wrapper #slide-1,
#btn-2:checked ~ .site-wrapper #slide-2,
#btn-3:checked ~ .site-wrapper #slide-3
{
    display: block;
}

#btn-1:checked ~ .site-wrapper
{
    background-color: #849d8f;
    background-image: url('../img/slide-1.png');
}

#btn-2:checked ~ .site-wrapper
{
    background-color: #8996a6;
    background-image: url('../img/slide-2.png');
}

#btn-3:checked ~ .site-wrapper
{
    background-color: #9d8b84;
    background-image: url('../img/slide-3.png');
}

#btn-1:checked ~ .site-wrapper label[for='btn-1'],
#btn-2:checked ~ .site-wrapper label[for='btn-2'],
#btn-3:checked ~ .site-wrapper label[for='btn-3']
{
    background-color: #fff;
}

.site-wrapper::before,
.site-wrapper::after
{
    visibility: hidden;

    content: '';
}

.site-wrapper::before,
.site-wrapper::after
{
    background-image: url('../img/slide-1.png');
}

.site-wrapper::after
{
    background-image: url('../img/slide-2.png');
}
.offers
{
    font-size: 0;
}

.offer
{
    position: relative;

    display: inline-block;

    width: 420px;
    min-height: 230px;
    margin: 0 20px 40px 0;

    vertical-align: top;

    border-radius: 11px;
}

.offers article:nth-child(2n)
{
    margin-right: 0;
}

.offer-raspberries
{
    background: #9d1d3a;
    background-image: url('../img/bg_raspberries.png');
}

.g-title-h3
{
    margin: 25px 0 25px 20px;
    padding: 0;
}

.offer-text
{
    font-size: 18px;
    font-weight: bold;

    margin: 0 20px;
    margin-bottom: 85px;
}

.offer-chocolate
{
    background: #371e11;
    background-image: url('../img/bg_chocolate.png');
}

.offer-button
{
    font-size: 18px;
    font-weight: bold;
    line-height: 46px;

    position: absolute;
    right: 22px;
    bottom: 23px;

    height: 46px;
    padding: 0 22px;

    border-radius: 18px;
}

.offer-chocolate .offer-button
{
    bottom: 30px;

    margin-right: -4px;
}

.offer-chocolate .offer-text
{
    margin-top: -1px;
}

.breadcrumbs
{
    font-size: 0;

    max-width: 680px;
    padding: 0;

    list-style: none;
}

.breadcrumbs-page
{
    font-size: 14px;

    position: relative;

    display: inline-block;

    vertical-align: top;
}

.breadcrumbs-page a
{
    margin-right: 21px;

    text-decoration: none;

    color: #fff;
    box-shadow: inset 0 -1px 0 0 #c2cec7;
}

.breadcrumbs-page a:hover,
.breadcrumbs-page a:active
{
    color: #ffbc9e;
    box-shadow: inset 0 -1px 0 0 #ffbc9e;
}

.breadcrumbs-page:not(:last-child) a:hover,
.breadcrumbs-page:not(:last-child) a:active
{
    color: #ffbc9e;
}

.breadcrumbs-page:last-child a
{
    cursor: default;
    text-decoration: none;

    color: #fff;
    box-shadow: none;
}

.breadcrumbs-page:not(:last-child)::after
{
    position: absolute;
    top: 0;
    right: 8px;

    content: '»';
}

.g-title-h1
{
    margin: 10px 0 33px 0;
}

.select-ice
{
    font-size: 0;

    margin-bottom: 38px;

    background: #849d8f;
}

.select-ice > div
{
    font-size: 16px;
    font-size: 14px;

    display: inline-block;

    vertical-align: top;

    color: #fff;
}

.sort-list
{
    font-size: 16px;
    font-weight: 500;

    width: 192px;
    height: 36px;
    margin-right: 17px;
    padding-left: 13px;

    color: #fff;
    border: none;
    border-radius: 14px;
    background: rgba(255, 255, 255, .2) url('../img/select-arrow.svg') no-repeat 93% 52%;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

.sort-list option
{
    font-size: 14px;
    font-weight: 400;
}

.sort-list:hover
{
    color: #343434;
    background: #fff url('../img/select-arrow-hover.svg') no-repeat 93% 52%;
}

.title-sort
{
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 2px;
    margin-left: 18px;
}

.price-range
{
    position: relative;

    width: 188px;
    height: 20px;
    margin-top: 21x;
    margin-right: 14px;
    padding: 0 15px;
    padding-top: 16px;

    cursor: pointer;

    border-radius: 15px;
    background: rgba(255, 255, 255, .2);
}

.price-range .scale
{
    height: 4px;

    background: #d1d9d2;
}

.price-range .bar
{
    width: 50%;
    height: 4px;
    margin-left: 25px;

    background: #f8f7f4;
}

.price-range .toggle
{
    position: absolute;
    top: 8px;
    left: 0;

    width: 20px;
    height: 20px;

    border-radius: 100%;
    background: #f8f7f4;
    box-shadow: 0 2px 1px 0 #98a79e;
}

.price-range .toggle:hover
{
    top: 7px;

    width: 22px;
    height: 22px;
}

.price-range .toggle-min
{
    left: 34px;
}

.price-range .toggle-min:hover
{
    left: 33px;
}

.price-range .toggle-max
{
    left: 132px;
}

.price-range .toggle-max:hover
{
    left: 131px;
}

.price-title
{
    font-size: 0;

    width: 195px;
    margin-bottom: 2px;
    margin-left: 16px;
}

.price-title label
{
    font-size: 14px;
    font-weight: 500;

    display: inline-block;

    width: 50%;

    vertical-align: top;
}

.price-title input
{
    width: 29px;

    color: #fff;
    border: none;
    background: none;
}

.fatness
{
    font-size: 0;
}

.title-fatness
{
    font-size: 14px;
    font-weight: 500;

    margin-bottom: 2px;
    margin-left: 19px;
}

.fatness-radio
{
    max-width: 386px;
    min-height: 36px;
    margin: 0;
    margin-left: 2px;
    padding: 0;
    padding: 0 15px;

    border-radius: 14px;
    background: rgba(255, 255, 255, .2);
}

.fatness-radio li
{
    display: inline-block;

    margin-top: 8px;
    margin-right: 17px;

    list-style: none;

    vertical-align: top;
}

.fatness-radio li:last-child
{
    margin-right: 0;
}

.fatness-radio-btn + label
{
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;
}

.fatness-radio-btn
{
    position: absolute;

    display: none;
}

.fatness-radio-btn + label
{
    position: relative;

    padding: 0 0 0 30px;
}

.fatness-radio-btn + label::before
{
    position: absolute;
    top: -2px;
    left: 0;

    width: 21px;
    height: 21px;

    content: '';

    opacity: .85;
    border-radius: 100%;
    background: url('../img/radio-btn-1.svg') no-repeat;
}

.fatness-radio-btn + label:hover::before
{
    opacity: 1;
}

.fatness-radio-btn:checked + label::before
{
    position: absolute;
    left: 0;

    width: 21px;
    height: 21px;

    content: '';

    opacity: .85;
    border-radius: 100%;
    background: url('../img/radio-btn.svg') no-repeat;
}

.fatness-radio-btn:checked + label:hover::before
{
    opacity: 1;
}

.fillers-checkbox
{
    margin: 0;
    margin-top: 5px;
    padding: 0;
    padding: 0 9px 0 16px;

    border-radius: 14px;
    background: rgba(255, 255, 255, .2);
}

.fillers-title
{
    font-size: 14;
    font-weight: 500;

    margin: 12px 0 0 17px;
}

.fillers-checkbox li
{
    font-size: 16px;
    font-weight: medium;
    line-height: 36px;

    display: inline-block;

    height: 36px;
    margin: 0;
    margin-right: 19px;
    padding: 0;

    list-style: none;

    vertical-align: top;
}

.fillers-checkbox li:last-child
{
    margin-right: 0;
    padding-right: 10px;
}

.fillers-checkbox-btn
{
    position: absolute;

    display: none;
}

.fillers-checkbox-btn + label
{
    font-size: 16px;
    font-weight: medium;

    position: relative;

    padding: 0 0 0 32px;

    cursor: pointer;
}

.fillers-checkbox-btn + label::before
{
    position: absolute;
    top: -1px;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';

    opacity: .85;
    border-radius: 3px;
    background: url('../img/check-box.svg') no-repeat;
}

.fillers-checkbox-btn + label:hover::before
{
    opacity: 1;
}

.fillers-checkbox-btn:checked + label::before
{
    position: absolute;
    left: 0;

    width: 20px;
    height: 20px;

    content: '';

    opacity: .85;
    border-radius: 3px;
    background: url('../img/check-box-checked.svg') no-repeat;
}

.fillers-checkbox-btn:checked + label:hover::before
{
    opacity: 1;
}

.fillers-checkbox-btn:disabled + label::before,
.fatness-radio-btn:disabled + label::before
{
    opacity: .3;
}

.fillers-checkbox-btn:disabled + label,
.fatness-radio-btn:disabled + label
{
    cursor: default;
}

.select-ice-submit
{
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;

    float: right;

    height: 36px;
    margin-top: 39px;
    padding: 0 27px;

    border: 2px solid #fff;
    border-radius: 20px;
    background: rgba(255, 255, 255, .2);
}

.select-ice-submit:hover
{
    color: #383939;
    background: #fafbfb;
}

.select-ice-submit:active
{
    color: #383939;
    border: none;
    background: #eaeaea;
    box-shadow: inset 0 1px 2px 1px #6c6d6c;
}

.items
{
    font-size: 0;

    margin-bottom: 44px;
    padding: 0;

    list-style: none;
}

.item
{
    font-size: 16px;

    position: relative;

    display: inline-block;

    width: 200px;
    min-height: 316px;
    margin-right: 20px;

    vertical-align: top;
}

.item-image img
{
    overflow: hidden;

    max-width: 100%;
    max-height: 200px;
}

.item::after
{
    position: absolute;
    top: -10px;
    left: -10px;

    display: none;

    width: 200px;
    height: 100%;
    min-height: 315px;
    padding: 10px 10px 41px 10px;

    content: '';

    border-radius: 3px;
    background: rgba(255, 255, 255, .3);
}

.item:hover::after
{
    z-index: 15;

    display: block;
}

.item:hover .item-quick-review
{
    z-index: 25;

    display: block;
}

.item:hover .item-image
{
    position: relative;
    z-index: 25;
}

.item:hover .item-label
{
    z-index: 25;
}

.item:hover .item-caption
{
    z-index: 25;
}

.item:hover .item-caption-underline
{
    box-shadow: none;
}

.item-price
{
    font-size: 45px;
    font-weight: bold;

    position: absolute;
    top: 149px;
    left: 1px;

    letter-spacing: 0;

    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
}

.item-price-symbol
{
    font-size: 0;

    display: inline-block;

    width: 32px;
    height: 37px;
    margin-top: -7px;
    margin-left: -5px;

    vertical-align: top;

    background: url(../img/rub.svg) no-repeat 0 0;
}

.item-size
{
    font-size: 30px;
}

.item:nth-child(4n)
{
    margin-right: 0;
}

.item-caption
{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;

    position: relative;

    display: block;

    margin: 5px 6px;
    margin-bottom: 40px;

    text-align: center;
    text-decoration: none;

    color: white;
}

.item-caption-underline
{
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .5);
}

.item-caption:hover .item-caption-underline,
.item-captiom-underline:active .item-caption-underline
{
    color: #ffbc9e;
    box-shadow: inset 0 -1px 0 0 #ffbc9e;
}

.item-label
{
    font-size: 0;

    position: absolute;
    top: 0;
    left: 0;
}

.item-quick-review
{
    font-size: 15px;
    font-weight: bold;
    line-height: 35px;

    position: absolute;
    bottom: -21px;

    display: none;

    height: 35px;
    margin-left: 15px;
    padding: 0 17px;

    text-align: center;

    border-radius: 12px;
}

.item-label
{
    width: 60px;
    height: 60px;

    background: url('../img/hit.png');
}

.features
{
    margin-top: -46px;
    margin-bottom: 40px;
    padding-bottom: 5px;

    color: #323232;
    border-radius: 12px;
    background: #ece0c7;
    background-image: url('../img/pattern_waffle.jpg');
}

.features-title-h4
{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;

    margin: 0 20px 27px 20px;
    padding-top: 21px;
}

.features-list
{
    font-size: 0;

    margin-top: 0;
    margin-left: 0;
    padding: 0;

    list-style: none;
}

.features-list li
{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    position: relative;

    display: inline-block;

    width: 347px;
    padding-bottom: 20px;
    padding-left: 78px;

    vertical-align: top;
    vertical-align: top;

    color: #323232;
}

.features-list li:nth-child(2n)
{
    width: 343px;
    padding-left: 73px;
}

.features-list-ice::after,
.features-list-cow::after,
.features-list-leaf::after,
.features-list-temp::after
{
    position: absolute;

    width: 47px;
    height: 47px;

    content: '';
}


.features-list-ice::after
{
    top: -13px;
    left: 21px;

    background: url('../img/features-ico-ice.svg') no-repeat;
}

.features-list-cow::after
{
    top: -13px;
    left: 16px;

    background: url('../img/features-ico-cow.svg') no-repeat;
}

.features-list-leaf::after
{
    top: -10px;
    left: 22px;

    background: url('../img/features-ico-leaf.svg') no-repeat;
}

.features-list-temp::after
{
    top: -9px;
    left: 16px;

    background: url('../img/features-ico-temp.svg') no-repeat;
}

.news-mailing
{
    margin-bottom: 38px;

    color: #353535;
}

.blog-news
{
    float: left;

    width: 420px;
    min-height: 220px;

    border-radius: 11px;
    background: #fff url('../img/bg_strawberry_news.jpg') no-repeat center;
}

.g-title-h5
{
    font-size: 16px;
    font-weight: 500;

    margin: 24px 0 3px 20px;

    color: #5a5a5a;
}

.news-mailing-link
{
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;

    display: inline-block;

    max-width: 290px;
    margin-left: 22px;

    vertical-align: top;

    color: #353535;
}

.blog-news-link-bg
{
    padding: 0 10px 2px 0;

    background-color: rgba(255, 255, 255, .7);
}

.mailing
{
    float: right;

    box-sizing: border-box;
    width: 420px;
    padding: 5px;

    border-radius: 15px;
    background: #f8f7f4 url(../img/mailing.png) repeat 0 0;
}

.mailing-form
{
    min-height: 164px;
    padding: 24px 0 20px 17px;

    border-radius: 15px;
    background: #f8f7f4;
}

.mailing-text
{
    font-size: 16px;
    line-height: 22px;

    width: 380px;
    margin: 5px 6px 14px;
}

.mailing-form-email
{
    font-size: 16px;
    font-weight: 700;

    box-sizing: border-box;
    width: 228px;
    height: 42px;
    margin: 0 7px 0 5px;
    padding: 0 10px;

    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.mailing-form-email::-webkit-input-placeholder
{
    font-weight: 400;
}

.mailing-form-email:hover
{
    padding: 0 9px;

    border: 2px solid #c7c6c5;
}

.mailing-form-email:active
{
    padding: 0 9px;

    border: 2px solid #c7c6c5;
    outline: 0;
}

.mailing-form-submit
{
    font-size: 17px;
    font-weight: bold;
    line-height: 44px;

    height: 44px;
    padding: 0 22px;

    border-radius: 18px;
}

.contacts
{
    position: absolute;
    z-index: 25;
    top: 69px;
    right: 20px;

    width: 302px;
    min-height: 305px;

    color: #343434;
    border-radius: 12px;
    background: #fefefe;
}

.contacts p
{
    font-size: 14px;

    margin-left: 26px;
}

.contacts-address
{
    font-size: 14px;
    line-height: 20px;

    margin-top: 26px;
}

.contacts-address-street,
.contacts-phone-number
{
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.contacts-phone
{
    margin-top: 19px;
    margin-bottom: 24px;
}

.contacts-button
{
    font-size: 17px;
    font-weight: 700;
    line-height: 44px;

    width: 186px;
    height: 44px;
    margin-left: 26px;
    padding: 0 32px;

    border-radius: 18px;
}

.pagination
{
    font-size: 0;

    float: right;

    margin-top: -2px;
    margin-right: -6px;
    margin-bottom: 29px;
}

.pagination a
{
    font-size: 16px;
    line-height: 16px;

    display: inline-block;

    width: 16px;
    height: 16px;
    margin-left: 5px;
    padding: 4px;

    text-align: center;
    vertical-align: top;
    text-decoration: none;

    color: #fff;
}

.pagination .page-next
{
    margin-left: 10px;
    padding-right: 0;
}

.pagination .page-previous
{
    margin-right: 4px;
}

.pagination a:hover
{
    border-radius: 100%;
    background: rgba(255, 255, 255, .5);
}

.pagination a:active
{
    color: #353535;
    border-radius: 100%;
    background: #fff;
}

.pagination	 a.pagination-current
{
    padding: 4px;

    color: #353535;
    border-radius: 100%;
    background: #fff;
}

.pagination .page-next:hover,
.pagination .page-next:active
{
    background: url('../img/page-next.png') no-repeat 50%;
}

.pagination .page-next
{
    background: url('../img/page-next.png') no-repeat 50%;
}

.pagination .page-previous
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);

    background: url('../img/page-next.png') no-repeat 50%;
}

.pagination .page-previous:hover,
.pagination .page-previous:active
{
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);

    background: url('../img/page-next.png') no-repeat 50%;
}

.inactive
{
    opacity: .5;
}

.inactive:hover
{
    cursor: default;
}

.map
{
    position: relative;

    height: 430px;

    background: #f0ead4 url('../img/map.jpg') no-repeat 50%;
}

.map-pointer
{
    position: absolute;
    bottom: -275px;
    left: 115px;
}

.main-content > .container
{
    border-bottom: 2px solid #a9bbb1;
}

.footer-social
{
    font-size: 0;

    float: left;

    width: 200px;
    padding: 20px 0;
}

.social-btn
{
    display: inline-block;

    width: 31px;
    height: 31px;
    margin-right: 13px;

    vertical-align: top;
    text-decoration: none;

    opacity: .7;
    border: 3px solid rgba(255, 255, 255, .5);
    border-radius: 100%;
}

.social-btn-twitter
{
    background: url('../img/twitter.svg') no-repeat 50%;
}

.social-btn-insta
{
    background: url('../img/insta.svg') no-repeat 50%;
}

.social-btn-facebook
{
    background: url('../img/facebook.svg') no-repeat 50%;
}

.social-btn-vk
{
    background: url('../img/vk.svg') no-repeat 50%;
}

.social-btn:hover
{
    opacity: 1;
}

.social-btn:active
{
    box-shadow: inset 0 1px 3px black;
}

.footer-info
{
    font-size: 0;

    float: left;

    width: 420px;
    margin-left: 40px;
    padding: 14px 0;
}

.footer-info-link
{
    font-size: 13px;

    display: inline-block;

    min-width: 143px;

    vertical-align: top;
}

.footer-info-heart
{
    position: relative;
}

.footer-info-heart::before
{
    position: absolute;
    top: 5px;
    left: -22px;

    width: 15px;
    height: 13px;

    content: '';

    background: url('../img/heart.svg') no-repeat 50%;
}

.footer-info-link a,
.footer-copyright-link
{
    text-decoration: none;

    color: #fff;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, .5);
}

.footer-info-link a:hover,
.footer-info-link a:active,
.footer-copyright a:hover,
.footer-copyright a:active
{
    color: #ffbc9e;
    box-shadow: inset 0 -1px 0 0 #ffbc9e;
}

.footer-copyright
{
    float: right;

    width: 188px;
    padding: 19px 0;
}

.footer-copyright p
{
    font-size: 12px;

    float: right;

    margin: 0;
    margin-top: -3px;
    margin-right: -2px;
    padding: 0;
}

.overlay
{
    position: fixed;
    z-index: 29;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, .5);
}

.overlay-show
{
    display: block;
}

.feedback-form
{
    position: fixed;
    z-index: 30;
    top: 20%;
    left: 50%;

    display: none;

    width: 478px;
    min-height: 443px;
    margin-left: -239px;

    border-radius: 7px;
    background: #f8f7f4;
}

.title-feedback-form
{
    font-size: 24px;
    font-weight: 500;

    margin: 20px 0 22px 25px;

    color: #343434;
}

.feedback-form-input
{
    font-size: 16px;
    font-weight: 400;
    font-weight: 700;
    line-height: 42px;

    box-sizing: border-box;
    width: 266px;
    height: 42px;
    margin: 0 0 20px 24px;
    padding: 0 15px;

    color: #333;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.feedback-form-input::-webkit-input-placeholder
{
    font-weight: 400;
}

.feedback-form-input:hover
{
    padding: 0 14px;

    border: 2px solid #a9a9a9;
}

.feedback-form-input:focus
{
    padding: 0 14px;

    border: 2px solid #2e88e4;
    outline: 0;
}

.feedback-form-email
{
    padding-left: 20px;
}

.feedback-form-email:hover
{
    padding: 0 19px;

    border: 2px solid #a9a9a9;
}

.feedback-form-email:focus
{
    padding: 0 19px;

    border: 2px solid #2e88e4;
    outline: 0;
}

.feedback-form-textarea
{
    font-weight: 700;

    width: 386px;
    min-height: 133px;
    margin: 0 0 90px 24px;
    padding: 9px 20px;

    resize: none;

    color: #333;
    border: 1px solid #d3d3d2;
    border-radius: 3px;
}

.feedback-form-textarea::-webkit-input-placeholder
{
    font-weight: 400;
}

.feedback-form-textarea:hover
{
    padding: 8px 19px;

    border: 2px solid #2e88e4;
}

.feedback-form-textarea:focus
{
    padding: 8px 19px;

    border: 2px solid #2e88e4;
    outline: 0;
}


.feedback-form-submit
{
    font-size: 17px;
    font-weight: bold;

    position: absolute;
    right: 25px;
    bottom: 27px;

    height: 44px;
    padding: 0 26px;

    border-radius: 18px;
}

.feedback-form-button-close
{
    position: absolute;
    top: 15px;
    right: 15px;

    width: 18px;
    height: 16px;

    border: none;
    background: url('../img/cross-x.svg') no-repeat 50%;
}

.feedback-form-show
{
    display: block;

    -webkit-animation: bounce .6s;
            animation: bounce .6s;
}

@-webkit-keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes bounce
{
    0%
    {
        -webkit-transform: translateY(-2000px);
                transform: translateY(-2000px);
    }

    70%
    {
        -webkit-transform: translateY(30px);
                transform: translateY(30px);
    }

    90%
    {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px);
    }

    100%
    {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

.clearfix::after
{
    display: table;
    clear: both;

    content: '';
}
